.container {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 72px;
  color: #aab8c2;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #aab8c2;
  font-weight: 600;
  font-size: 1.2em;
  text-align: justify;
}

.less3 {
  color: crimson;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  margin: 0 auto;
  height: 128px;
  width: 128px;
  border-radius: 8px;
}

.heart {
  cursor: pointer;
  height: 64px;
  width: 64px;
  background-image: url('./heart.png');
  background-size: 6000%;
  background-position: left;
  background-repeat: no-repeat;
}

.heart:hover {
  background-position: -64px;
}

@keyframes heart-burst {
  from {background-position: 0 0;}
  to { background-position: -3840px 0;}
}

.is_animating {
    animation: heart-burst 1s steps(60);
}